<h1>Connexion</h1>
<form [formGroup]="loginForm">
    <div class="form-group">
    
      <label class="center-block">Email
        <input class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">Une adresse email est requise.</div>
          </div>
      </label>
      
      <label class="center-block">Password
        <input class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Un mot de passe est requis.</div>
            <div *ngIf="f['password'].errors['email']">Le texte saisi n'est pas au format d'une adresse email.</div>
          </div>
      </label>
      
      <button type="submit" id="nouvelle" class="btn btn-success" (click)="connexion()">
            Enregistrer
      </button>
    </div>
    <a class="link-dark" (click)="toCreation()">Pas de compte ? Inscrivez-vous</a>
</form>