

@media screen and (max-width: 480px) {
  #container{
    width:95%
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #container{
    margin:auto;
    width:35%;
    padding:10px;
    background-color: #FAf0DC;
  }
}